html, body { 
  height: 100%;
  background-color: #ecf0f1; 
  font-family: var,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  letter-spacing: 0.1rem;
}

.rotate_open {
  animation: rotate_open_keyframes 1s forwards;
 }
 
 @keyframes rotate_open_keyframes {
  from {
   transform: rotate(0deg);
  }
 
  to {
   transform: rotate(630deg);
  }
 }
.rotate_close {
  animation: rotate_close_keyframes 1s forwards;
}
 @keyframes rotate_close_keyframes {
   from {
     transform: rotate(630deg);
   }
   to {
     transform: rotate(-0deg);
   }
 }
